.goods-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 30;
    background-color: #f2f2f2;
    overflow: scroll;
    box-sizing: border-box;
}
.goods-head {
    position: fixed;
    top: 0;
    z-index: 60;
    width: 100%;
}
.goods-header {
    width: 100%;
    height: 2.25rem;
    text-align: center;
    font-size: 0.8rem;
    line-height: 2.25rem;
    background-color: #fff;
    color: rgb(51,51,51);
    position: relative;
}
.goods-header img {
    position: absolute;
    left: 0;
    top: 0;
    width: 1.8rem;
    height: 2.25rem;
}
.goods-menu {
    position: fixed;
    top: 2.25rem;
    z-index: 40;
    width: 100%;
    height: 2rem;
    padding-bottom: 0.65rem; 
    white-space: nowrap;
    overflow-x: scroll;
    background-color: #f2f2f2;
}
.goods-menu::-webkit-scrollbar{
    display: none;
}
.goods-menu_text {
    width: 20%;
    text-align: center;
    color: rgb(105, 105, 105);
    font-size: 0.6rem;
    line-height: 2rem;
    display: inline-block;
    box-sizing: border-box;
}
.goods-active {
    border-bottom: 0.15rem solid rgb(132, 95, 63);
    color: rgb(132, 95, 63);
}
.goods-content {
    margin-top: 4.9rem;
    box-sizing: border-box;
    width: 100%;
    padding: 0 0.35rem;
    display: flex;
    flex-wrap: wrap;
}
.goods-box {
    width: 50%;
    height: 13.3rem;
    box-sizing: border-box;
    padding: 0.25rem 0.2rem;
}
.goods-box a {
    text-decoration: none;
}
.menu-foot {
    height: 8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-foot span {
    font-size: 0.6rem;
    color: rgb(159, 159, 159);
    display: inline-block;
    margin: 0 0.3rem;
}
.menu-foot .line {
    height: 0.05rem;
    width: 2.5rem;
    display: inline-block;
    background-color: rgb(159, 159, 159);
}
