.menu-right {
    display: inline-block;
    width: 15rem;
    padding: 0.65rem 0;
    box-sizing: border-box;
}
.title-img {
    width: 100%;
    height: 6.8rem;
    text-align: center;
}
.title-img img {
    width: 13.5rem;
}
.detail-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.detail-item {
    width: 33.3333%;
    height: 5rem;
    text-align: center;
}
.detail-item img {
    width: 3.5rem;
    height: 3.5rem;
    display: block;
    margin: 0 auto;
}
.detail-item span {
    font-size: 0.55rem;
    display: block;
    margin-top: 0.25rem;
    color: #868686;
}